[Unit]
Description=Disables the power-LED and active-LED
After=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=echo 0
ExecStop=echo 1
StandardOutput=file:/sys/class/leds/PWR/brightness 

[Install]
WantedBy=multi-user.target